# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Android Studio specific
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# NDK / CMake
.externalNativeBuild/
.cxx/

# Captures
captures/

# Others
*.apk
*.ap_
